body{
      font-size: 16px;
      background-image: url("images/bg-intro-desktop.png");
      background-color: hsl(0, 100%, 74%);
      height: 100vh;
      font-family: Poppins;
      color: white;
      margin: 0 1.5rem;
}

main{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 95vh;
}

#content{
      width: 40%;
      margin-right: 2rem;
}

#content h1{
      font-size: 2.75rem;
      line-height: 3rem;
      margin-bottom: 1rem;
}

main #form{
      /* background-color: yellow; */
      width: 40%; 
      height: 80%;     
      margin-left: 2rem;
}

.butt{
      width: 100%;
      height: 3.25rem;
      color: white;
      border: none;
      border-radius: 0.5rem;
      transition: all 0.3s;
}

.butt:hover{
      cursor: pointer;
      transform: translateY(-3px);
}


#butt1{
      background-color: hsl(248, 32%, 49%);
      font-size: 1rem;
      box-shadow: 0 8px 0px -1px rgba(0, 0, 0, 0.2) ;
      margin-bottom: 1.25rem;
}

#butt1 span{
      font-weight: 700;
}

#butt1:hover{
      background-color: hsl(248, 32%, 45%);
}

main form{
      width: 100%;
      background-color: white;
      height: 95%;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;      
      box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.2); 
}

#formwrapper{
      width: 85%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
}

#formwrapper .textfield{
      width: 100%;
      height: 3rem;
      border-radius: 3.5px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      position: relative;
}

#formwrapper input[type="email"].textfield::-webkit-input-placeholder {
      color: hsl(0, 100%, 68%);
      opacity: 1;
}

#formwrapper .err{
      border: 1.5px solid hsl(0, 100%, 68%);
}

#formwrapper .errormessage{
      text-align: right;
      color: hsl(0, 100%, 68%);
      font-size: 0.6rem;
      margin: 0 0 10px 0;
      font-style: italic;
      font-weight: 600;
      width: 100%;
}

#formwrapper .invisible{
      display: none;
}

#butt2{
      background-color: hsl(154, 59%, 51%);
      box-shadow: 0 4px 0px -1px hsl(154, 59%, 40%);
}

#butt2:hover{
      background-color: hsl(154, 59%, 47%);
}

#formwrapper .tns{
      font-size: 0.65rem;
      color: hsl(246, 25%, 77%);
      font-weight: 500;
}

#formwrapper .tns span{
      color: hsl(0, 100%, 68%);
      font-weight: 700;
}

#formwrapper .tns span:hover{
      cursor: pointer;
}



@media screen and (max-width: 650px){
      main{
            margin-top: 5rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            /* background-color: aqua; */
      }

      #content{
            margin: 0 0 2rem 0;
            text-align: center;
            /* background-color: yellow; */
            width: 80%;
      }

      #content h1{
            font-size: 1.7rem;
            line-height: normal;
      }

      #content .text{
            font-size: 0.9rem;
      }

      main #form{
            width: 80%;
            text-align: center;
            align-items: center;
            margin: 0;
      }

      #butt1{
            height: 5rem;
            display: flex;
            justify-content: center;
      }

      #butt1 p{
            width: 13rem;
            text-align: center;
      }

      .attribution{
            margin-top: 8rem;
      }
}



.attribution { 
      font-size: 11px;
      text-align: center; 
}

.attribution a { 
      color: hsl(228, 45%, 44%);
}